@function darken($color, $amount) {
  @return color.adjust($color, $lightness: -$amount * 1%);
}

.gantt {
  .bar-wrapper {
    &:hover {
      .bar-progress {
        background: darken(#a3a3ff, 5);
      }
      .bar {
        background: darken(#b8b8ff, 5);
      }
    }
  }
  
  .bar {
    background: #b8b8ff;
    border-radius: 3px;
    margin-top: 2px;
    
    &.progress {
      background: #a3a3ff;
    }
  }
  
  .today-highlight {
    background: rgba(#FF7575, 0.15);
  }
} 